/* Start Variables */
/* :root {
} */
/* End Variables */

/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
/* End global rules */

/* Start components */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End components */

body {
    background-color: #f5f5f7;
    width: 100vw;
    height: 100vh;
    font-family: "Archivo Black", sans-serif;
}

.container {
    border-radius: 18px;
    background-color: #f5f5f7;
    box-shadow: 4px 8px 20px 4px #989898;
    width: 74vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}

/* Start sign-overlay and form sections */
.container .sign-overlay,
.container form {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
}
.container .content-form,
.container .content-sign {
    position: absolute;
    flex-direction: column;
    gap: 30px;
    padding: 40px 60px;
    transition: transform 0.6s ease-in-out;
}
.container h1 {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
}
.container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* sign-overlay and form sections buttons */
.container .sign-overlay button,
.container .input-fields > button {
    color: #fff;
    padding: 15px 45px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}
/* End sign-overlay and form sections */

/* Start sign-overlay section */
.container .sign-overlay {
    transform: translateX(50%);
    background-color: #ff4b3c;
    color: #fff;
}
.container.active .sign-overlay {
    transform: translateX(-50%);
}

.container .sign-up-overlay {
    z-index: 2;
}
.container.active .sign-up-overlay {
    z-index: 3;
}
.container .sign-in-overlay {
    z-index: 3;
}
.container.active .sign-in-overlay {
    z-index: 2;
}

.container .content-sign-up {
    transform: translateX(-200%);
}
.container.active .content-sign-up {
    transform: translateX(0%);
}
.container .content-sign-in {
    transform: translateX(0%);
}
.container.active .content-sign-in {
    transform: translateX(200%);
}

/* sign-overlay button */
.container .sign-overlay button {
    background-color: transparent;
    border: solid 1px #fff;
}
/* End sign-overlay section */

/* Start form section */
.container form {
    transform: translateX(-50%);
    background-color: #ffffff;
}
.container.active form {
    transform: translateX(50%);
}

.container .sign-in {
    z-index: 1;
}
.container.active .sign-in {
    z-index: 2;
}
.container .sign-up {
    z-index: 2;
}
.container.active .sign-up {
    z-index: 1;
}

.container .content-in {
    transform: translateX(-200%);
}
.container.active .content-in {
    transform: translateX(0%);
}
.container .content-up {
    transform: translateX(0%);
}
.container.active .content-up {
    transform: translateX(200%);
}

/* form sections button */
.container .input-fields > button {
    background-color: #ff4b3c;
    border: solid 1px #ff4b3c;
}
/* Start links buttons */
.container .links {
    gap: 30px;
}
.container .links button {
    background-color: transparent;
    border: solid 1px lightgray;
    cursor: pointer;
    padding: 14px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.container .links button:hover {
    transform: translateY(-4px);
}
/* End links buttons */

/* Start Input fields */
.container form .input-fields {
    flex-direction: column;
    gap: 16px;
}
.container form input {
    background-color: #ededed;
    border: none;
    width: 28vw;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}
.container form input:focus {
    outline: 2px solid #ededed;
}
.container form input:hover {
    transform: translateX(4px);
}

a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
}
/* End Input fields */
/* End form section */
